header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max(60px, 10vh);
    z-index: 1000;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding-left: max(40px, 3.5vw);
    padding-right: max(3vw, 30px);
    background-color: white;
}

.logo-icon {
    color: red;
    transform: scale(3);
    margin-right: 20px;
}

.reddit-span {
    color: red;
}

.logo > p {
    display: inline;
    font-size: 24px;
}

