.card {
    max-width: 900px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.post-subreddit-info, .author-info {
    display: flex;
    align-items: center;
}

.post-subreddit-name, .timestamp, .author-name, .error-username {
    font-size: 14px;
}

.post-subreddit-name, .author-name, .error-username {
    font-weight: bold;
}