* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 50px;
  padding: 20px;
  margin-top: max(60px, 10vh);
}

.app > main {
  /* flex: 7 1 0; */
  flex: 7;
  min-width: 0;
  height: calc(100vh - max(60px, 10vh));
  overflow-y: auto;
  padding-top: 10px;
}

.app > aside {
  /* flex: 3 1 0; */
  flex: 3;
  min-width: fit-content;
  height: calc(100vh - max(60px, 10vh));
  overflow-y: auto;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .app {
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 20px;
  }
}

@media only screen and (max-width: 800px) {

  .app {
    flex-direction: column;
    padding: 0;
    margin: 20px;
  }

  .app > main {
    margin-top: max(60px, 10vh);
  }

  .app > aside {
    display: none;
  }
}

@media only screen and (max-width: 600px) {

  .app {
    padding: 0;
    margin: 20px;
  }

  .app > main {
    margin-top: max(60px, 10vh);
  }

}