* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.app {
  position: relative;
  top: max(60px, 10vh);
  max-width: 100vw;
  display: flex;
  padding-left: max(40px, 3.5vw);
  padding-right: max(3vw, 30px);
  column-gap: 50px;
  margin-top: 20px;
}

.app > main {
  flex: 7 1 0;
}

.app > aside {
  flex: 3 1 0;
}

@media only screen and (max-width: 800px) {
  .app > aside {
    display: none;
  }
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}*/
