body {
  margin: 0;
  font-family: 'Nunito', 'Reddit Sans', 'Ubuntu', 'Reddit Sans Condensed', 'Reddit Mono', 'Noto Sans', sans-serif, monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5a9eef;
  color: #555555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
a:hover {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem;
}