:root {
  --primary-color: #5a9eef;
}

body {
  margin: 0;
  font-family: 'Nunito', 'Reddit Sans', 'Noto Sans', 'Reddit Sans Condensed', 'Reddit Mono', 'Ubuntu', sans-serif, monospace, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  color: #555555;
}

button,
a:hover {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem;
}